// Loops
.l-inf {
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@for $i from 1 through 20 {
  .l-#{$i} {
    -khtml-animation-iteration-count: #{$i};
    -moz-animation-iteration-count: #{$i};
    -o-animation-iteration-count: #{$i};
    -ms-animation-iteration-count: #{$i};
    -webkit-animation-iteration-count: #{$i};
    animation-iteration-count: #{$i};
  }
}

// Durações
@for $i from 1 through 50 {
  .t-#{$i*100}ms {
    -khtml-animation-duration: #{$i*100}ms;
    -moz-animation-duration: #{$i*100}ms;
    -o-animation-duration: #{$i*100}ms;
    -ms-animation-duration: #{$i*100}ms;
    -webkit-animation-duration: #{$i*100}ms;
    animation-duration: #{$i*100}ms;
  }
}

// Delays

@for $i from 1 through 200 {
  .d-#{$i*100}ms {
    -khtml-animation-delay: #{$i*100}ms;
    -moz-animation-delay: #{$i*100}ms;
    -o-animation-delay: #{$i*100}ms;
    -ms-animation-delay: #{$i*100}ms;
    -webkit-animation-delay: #{$i*100}ms;
    animation-delay: #{$i*100}ms;
  }
}