.font26 {
  font-size: 2.756rem !important;
}

.font18 {
  font-size: 2rem !important;
}

.font16 {
  font-size: 1.777rem !important;
}

.font14 {
  font-size: 1.555rem !important;
}

.font12 {
  font-size: 1.333rem !important;
}

.font11 {
  font-size: 1.222rem !important;
}

.font10 {
  font-size: 1.111rem !important;
}

.font9-5 {
  font-size: 1.055rem !important;
}

.font9 {
  font-size: 1rem !important;
}

.font8 {
  font-size: 0.9rem !important;
}