@import "fonts";

$laranja: #F9562B;
$verde: #158932;
$azul: #00C0F3;

.txt-justify {
  text-align: justify;
}

.pad-st {
  padding: 0% 0.6em;
}

.pad-md {
  padding: 0.3em 0.5em;
}

.pad-lg {
  padding: 0.7em 0.5em 2em;
}

.small-box {
  height: 100%;
}

.bg-l {
  background-color: $laranja;
  color: #FFFFFF;
}

.bg-v {
  background-color: $verde;
  color: #FFFFFF;
}

.bg-a {
  background-color: $azul;
  color: #FFFFFF;
}

.bg-img-f {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img-f-wid {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.c-w {
  color: #FFFFFF;
}

.border-radius {
  -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em;
}

.max-border-radius {
  -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
}

.caixa {
  @extend .txt-justify;
  @extend .border-radius;
  @extend .pad-st;
  display: block;
}

.caixa-l {
  @extend .caixa;
  @extend .bg-l;
}

.caixa-v {
  @extend .caixa;
  @extend .bg-v;
}

.caixa-a {
  @extend .caixa;
  @extend .bg-a;
}

.full {
  width: 100%;
  height: 100%;
}

.botao-curuja {
  @extend .font9;
  background-image: url('../img/botao_coruja.png');
  /* background-color: white; */
  display: inline-block;
  background-size: 100% 100%;
  padding: 1em 1em 1em 3.2em;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
}

.botao-fechar {
  @extend .font9;
  @extend .bg-v;
  @extend .border-radius;
  display: inline;
  background-size: 100% 100%;
  padding: 0.1em 0.3em;
  text-transform: uppercase;
  cursor: pointer;
}
